###### Requirements without Version Specifiers ######`
debugpy
six
wheel
future


###### Requirements with Version Specifiers ######`
flit_core >=3,<4
flit >= 3.0.0
wxpython == 4.0.7; python_version>='3.8'
wxpython == 4.0.3; python_version<'3.7'
pywin32 >= 300; 